<div class="container" style="display: none;">
    <div>
        <div style="clear: both;margin-bottom: 20px;"></div>

        <div id="p1">

            <div style="text-align: center;">
                <b>THÔNG TIN VỀ KHÁCH HÀNG</b>
            </div>

            <div style="clear: both;margin-bottom: 10px;"></div>

            <div class="row">
                <div class="col-sm-2">
                    Họ và tên
                </div>
                <div class="col-sm-4">
                    [hoTen]
                </div>
                <div class="col-sm-2">
                    Giới tính
                </div>
                <div class="col-sm-2">
                    [gtNamChecked] Nam
                </div>
                <div class="col-sm-2">
                    [gtNuChecked] Nữ
                </div>
            </div>

            <div style="clear: both;margin-bottom: 10px;"></div>

            <div class="row">
                <div class="col-sm-2">
                    Ngày sinh
                </div>
                <div class="col-sm-4">
                    [ngaySinh]
                </div>
                <div class="col-sm-2">
                    Quốc tịch
                </div>
                <div class="col-sm-4">
                    [quocTich]
                </div>
            </div>

            <div style="clear: both;margin-bottom: 10px;"></div>

            <div class="row">
                <div class="col-sm-2">
                    [cutru] Cư trú
                </div>
                <div class="col-sm-4">
                    Thời hạn cư trú tại Việt Nam
                </div>
                <div class="col-sm-6">
                    [thoihancutru]
                </div>
            </div>

            <div style="clear: both;margin-bottom: 10px;"></div>

            <div class="row">
                <div class="col-sm-2">
                    Loại GTTT
                </div>
                <div class="col-sm-4">
                    [strLoaiGToTThan]
                </div>
                <div class="col-sm-2">
                    Nơi cấp GTTT
                </div>
                <div class="col-sm-4">
                    [noiCap]
                </div>
            </div>

            <div style="clear: both;margin-bottom: 10px;"></div>

            <div class="row">
                <div class="col-sm-2">
                    Số GTTT
                </div>
                <div class="col-sm-4">
                    [soGTo]
                </div>
                <div class="col-sm-1">
                    Ngày cấp
                </div>
                <div class="col-sm-2">
                    [ngayCap]
                </div>
                <div class="col-sm-1">
                    Ngày hết hạn
                </div>
                <div class="col-sm-2">
                    [ngayHetHan]
                </div>
            </div>

            <div style="clear: both;margin-bottom: 10px;"></div>

            <div class="row">
                <div class="col-sm-2">
                    Mã số thuế cá nhân
                </div>
                <div class="col-sm-6">
                    [masothuecanhan]
                </div>
            </div>

            <div style="clear: both;margin-bottom: 10px;"></div>

            <div class="row">
                <div class="col-sm-2">
                    Nghề nghiệp
                </div>
                <div class="col-sm-2">
                    Nhân viên văn phòng [nghenghiep1]
                </div>
                <div class="col-sm-2">
                    Bác sĩ, dược sĩ, y tá [nghenghiep2]
                </div>
                <div class="col-sm-2">
                    Công nhân viên chức [nghenghiep3]
                </div>
                <div class="col-sm-3">
                    Kỹ sư, công nhân xây dựng [nghenghiep4]
                </div>
            </div>

            <div style="clear: both;margin-bottom: 10px;"></div>

            <div class="row">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-2">
                    Lực lượng vũ trang [nghenghiep5]
                </div>
                <div class="col-sm-2">
                    Học sinh, sinh viên [nghenghiep6]
                </div>
                <div class="col-sm-2">
                    Khác (ghi rõ) [nghenghiepkhac]
                </div>
                <div class="col-sm-2">
                    [text_nghenghiepkhac]
                </div>
            </div>

            <div style="clear: both;margin-bottom: 10px;"></div>

            <div class="row">
                <div class="col-sm-2">
                    Địa chỉ thường trú
                </div>
                <div class="col-sm-4">
                    [noiTru]
                </div>
                <div class="col-sm-2">
                    Địa chỉ nước ngoài
                </div>
                <div class="col-sm-4">
                    [diachinuocngoai]
                </div>
            </div>

            <div style="clear: both;margin-bottom: 10px;"></div>

            <div class="row">
                <div class="col-sm-2">
                    Địa chỉ ở hiện tại
                </div>
                <div class="col-sm-4">
                    [diachiohientai]
                </div>
                <div class="col-sm-2">
                    Thời gian ở địa chỉ hiện tại
                </div>
                <div class="col-sm-4">
                    [thoigianodiachihientai]
                </div>
            </div>

            <div style="clear: both;margin-bottom: 10px;"></div>

            <div class="row">
                <div class="col-sm-2">
                    Email
                </div>
                <div class="col-sm-4">
                    [email]
                </div>

                <div class="col-sm-2">
                    Điện thoại liên hệ
                </div>
                <div class="col-sm-4">
                    [dienthoai]
                </div>
            </div>
        </div>

        <div style="clear: both;margin-bottom: 20px;"></div>

    </div>

    <div>

        <div style="clear: both;margin-bottom: 20px;"></div>

        <div id="p2">
            <div style="clear: both;margin-bottom: 10px;"></div>

            <div style="text-align: center;">
                <b>THÔNG TIN TUÂN THỦ</b>
            </div>

            <div style="clear: both;margin-bottom: 10px;"></div>

            <div class="row">
                <div class="col-sm-4">
                    [khongquoctich] Khách hàng là người không quốc tịch
                </div>
                <div class="col-sm-4">
                    [daquoctich] Khách hàng là người đa quốc tịch
                </div>
                <div class="col-sm-4">
                    [congdanhoaky] Khách hàng là công dân Hoa Kỳ hoặc đối tượng cư trú tại Hoa Kỳ
                </div>
            </div>

            <div style="clear: both;margin-bottom: 10px;"></div>

            <div class="row">
                <div class="col-sm-4">
                    [chusohuuhuongloi] Khách hàng có chủ sở hữu hưởng lợi
                </div>
                <div class="col-sm-4">
                    [thoathuanphaply] Khách hàng có tham gia thỏa thuận pháp lý
                </div>
            </div>

            <div style="clear: both;margin-bottom: 10px;"></div>

            <div class="row">
                <div class="col-sm-4">
                    Mục đích thiết lập quan hệ với VCB
                </div>
            </div>

            <div style="clear: both;margin-bottom: 10px;"></div>

            <div class="row">
                <div class="col-sm-3">
                    [thanhtoan] Thanh toán
                </div>
                <div class="col-sm-3">
                    [tietkiem] Tiết kiệm
                </div>
                <div class="col-sm-3">
                    [vayvon] Vay vốn
                </div>
                <div class="col-sm-3">
                    [ctientrongnuoc] Chuyển tiền trong nước
                </div>
            </div>

            <div style="clear: both;margin-bottom: 10px;"></div>

            <div class="row">
                <div class="col-sm-3">
                    [ctiennuocnoai] Chuyển tiền nước ngoài
                </div>
                <div class="col-sm-2">
                    [ctienkhac] Khác (Ghi rõ)
                </div>
                <div class="col-sm-2">
                    [text_ctienkhac]
                </div>
            </div>

            <div style="clear: both;margin-bottom: 10px;"></div>

            <div style="text-align: center;">
                <b>ĐĂNG KÝ TÀI KHOẢN TIỀN GỬI</b>
            </div>

            <div style="clear: both;margin-bottom: 10px;"></div>

            <div class="row">
                <div class="col-sm-2">
                    Tên tài khoản
                </div>
                <div class="col-sm-10">
                    [tentk]
                </div>
            </div>

            <div style="clear: both;margin-bottom: 10px;"></div>

            <div class="row">
                <div class="col-sm-2">
                    Loại tài khoản
                </div>
                <div class="col-sm-2">
                    [loaitk_thanhtoan] Thanh toán
                </div>
                <div class="col-sm-2">
                    [loaitk_thanhtoanchung] Thanh toán chung
                </div>
                <div class="col-sm-2">
                    [loaitk_khac] Khác (Ghi rõ)
                </div>
                <div class="col-sm-2">
                    [text_loaitk_khac]
                </div>
            </div>

            <div style="clear: both;margin-bottom: 10px;"></div>

            <div class="row">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-2">
                    [loaitk_thanhtoansochon] Thanh toán số chọn
                </div>
                <div class="col-sm-8">
                    [text_loaitk_thanhtoansochon]
                </div>
            </div>

            <div style="clear: both;margin-bottom: 10px;"></div>

            <div class="row">
                <div class="col-sm-2">
                    Loại tiền
                </div>
                <div class="col-sm-2">
                    [vnd] VNĐ
                </div>
                <div class="col-sm-2">
                    [usd] USD
                </div>
                <div class="col-sm-2">
                    [loaitien_khac] Khác (Ghi rõ)
                </div>
                <div class="col-sm-2">
                    [text_loaitien_khac]
                </div>
            </div>

            <div style="clear: both;margin-bottom: 10px;"></div>

            <div style="text-align: center;">
                <b>ĐĂNG KÝ GÓI TÀI KHOẢN</b>
            </div>

            <div style="clear: both;margin-bottom: 10px;"></div>

            <div class="row">
                <div class="col-sm-2">
                    [goitk_vcb_eco] Gói tài khoản VCB Eco
                </div>
                <div class="col-sm-2">
                    [goitk_vcb_plus] Gói tài khoản VCB Plus
                </div>
                <div class="col-sm-2">
                    [goitk_vcb_pro] Gói tài khoản VCB Pro
                </div>
                <div class="col-sm-4">
                    [goitk_vcb_advanced] Gói tài khoản VCB Advanced
                </div>
            </div>

            <div style="clear: both;margin-bottom: 10px;"></div>

            <div class="row">
                <div class="col-sm-2">
                    [goitk_khac] Khác (Ghi rõ)
                </div>
                <div class="col-sm-10">
                    [text_goitk_khac]
                </div>
            </div>

            <div style="clear: both;margin-bottom: 10px;"></div>

            <div style="text-align: center;">
                <b>ĐĂNG KÝ DỊCH VỤ NGÂN HÀNG ĐIỆN TỬ</b>
            </div>

            <div style="clear: both;margin-bottom: 10px;"></div>

            <div class="row">
                <div class="col-sm-2">
                    [dv_vcb_sms_banking] VCB-SMS Banking
                </div>
                <div class="col-sm-2">
                    [dv_vcb_digibank] VCB Digibank
                </div>
                <div class="col-sm-2">
                    [dv_vcb_phone_banking] VCB-Phone Banking<br>
                    <i>Dịch vụ mặc định, không tính phí.</i>
                </div>
            </div>
        </div>

        <div style="clear: both;margin-bottom: 20px;"></div>

    </div>

    <div>

        <div style="clear: both;margin-bottom: 20px;"></div>

        <div id="p3">
            <div style="clear: both;margin-bottom: 10px;"></div>

            <div style="text-align: center;">
                <b>ĐĂNG KÝ PHƯƠNG THỨC XÁC THỰC GIAO DỊCH</b>
            </div>

            <div style="clear: both;margin-bottom: 10px;"></div>

            <div class="row">
                <div class="col-sm-8">
                    [pthuc_smart_otp] Phương thức xác thực giao dịch Vietcombank Smart OTP
                </div>
            </div>

            <div style="clear: both;margin-bottom: 10px;"></div>

            <div style="text-align: center;">
                <b>ĐĂNG KÝ DỊCH VỤ THẺ GHI NỢ</b>
            </div>

            <div style="clear: both;margin-bottom: 10px;"></div>

            <div class="row">
                <div class="col-sm-2">
                    Loại thẻ
                </div>
                <div class="col-sm-1">
                    Có
                </div>
                <div class="col-sm-1">
                    không
                </div>
                <div class="col-sm-4" style="text-align: center;">
                    Phương thức phát hành
                </div>
                <div class="col-sm-4" style="text-align: center;">
                    Thanh toán phí phát hành
                </div>
            </div>

            <div style="clear: both;margin-bottom: 10px;"></div>

            <div class="row">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-1">
                </div>
                <div class="col-sm-1">
                </div>
                <div class="col-sm-2">
                    Thông thường
                </div>
                <div class="col-sm-2">
                    Phát hành nhanh
                </div>
                <div class="col-sm-2">
                    Tự động ghi nợ tài khoản
                </div>
                <div class="col-sm-2">
                    Nộp tiền mặt
                </div>
            </div>

            <div style="clear: both;margin-bottom: 10px;"></div>

            <div class="row">
                <div class="col-sm-2">
                    Vietcombank Connect24
                </div>
                <div class="col-sm-1">
                    [vcb_connect24_yes]
                </div>
                <div class="col-sm-1">
                    [vcb_connect24_no]
                </div>
                <div class="col-sm-2">
                    [vcb_connect24_nomal]
                </div>
                <div class="col-sm-2">
                    [vcb_connect24_fast]
                </div>
                <div class="col-sm-2">
                    [vcb_connect24_auto]
                </div>
                <div class="col-sm-2">
                    [vcb_connect24_money]
                </div>
            </div>

            <div style="clear: both;margin-bottom: 10px;"></div>

            <div class="row">
                <div class="col-sm-2">
                    Vietcombank connect24 Visa
                </div>
                <div class="col-sm-1">
                    [vcb_connect24_visa_yes]
                </div>
                <div class="col-sm-1">
                    [vcb_connect24_visa_no]
                </div>
                <div class="col-sm-2">
                    [vcb_connect24_visa_nomal]
                </div>
                <div class="col-sm-2">
                    [vcb_connect24_visa_fast]
                </div>
                <div class="col-sm-2">
                    [vcb_connect24_visa_auto]
                </div>
                <div class="col-sm-2">
                    [vcb_connect24_visa_money]
                </div>
            </div>

            <div style="clear: both;margin-bottom: 10px;"></div>

            <div class="row">
                <div class="col-sm-2">
                    Vietcombank Visa Debit Platinum
                </div>
                <div class="col-sm-1">
                    [vcb_visa_debit_platinum_yes]
                </div>
                <div class="col-sm-1">
                    [vcb_visa_debit_platinum_no]
                </div>
                <div class="col-sm-2">
                    [vcb_visa_debit_platinum_nomal]
                </div>
                <div class="col-sm-2">
                    [vcb_visa_debit_platinum_fast]
                </div>
                <div class="col-sm-2">
                    [vcb_visa_debit_platinum_auto]
                </div>
                <div class="col-sm-2">
                    [vcb_visa_debit_platinum_money]
                </div>
            </div>

            <div style="clear: both;margin-bottom: 10px;"></div>

            <div class="row">
                <div class="col-sm-2">
                    Vietcombank Mastercard
                </div>
                <div class="col-sm-1">
                    [vcb_mastercard_yes]
                </div>
                <div class="col-sm-1">
                    [vcb_mastercard_no]
                </div>
                <div class="col-sm-2">
                    [vcb_mastercard_nomal]
                </div>
                <div class="col-sm-2">
                    [vcb_mastercard_fast]
                </div>
                <div class="col-sm-2">
                    [vcb_mastercard_auto]
                </div>
                <div class="col-sm-2">
                    [vcb_mastercard_money]
                </div>
            </div>

            <div style="clear: both;margin-bottom: 10px;"></div>

            <div class="row">
                <div class="col-sm-2">
                    Vietcombank Unionpay
                </div>
                <div class="col-sm-1">
                    [vcb_unionpay_yes]
                </div>
                <div class="col-sm-1">
                    [vcb_unionpay_no]
                </div>
                <div class="col-sm-2">
                    [vcb_unionpay_nomal]
                </div>
                <div class="col-sm-2">
                    [vcb_unionpay_fast]
                </div>
                <div class="col-sm-2">
                    [vcb_unionpay_auto]
                </div>
                <div class="col-sm-2">
                    [vcb_unionpay_money]
                </div>
            </div>

            <div style="clear: both;margin-bottom: 10px;"></div>

            <div class="row">
                <div class="col-sm-2">
                    Vietcombank Cashback Plus American Express
                </div>
                <div class="col-sm-1">
                    [vcb_cashback_plus_american_express_yes]
                </div>
                <div class="col-sm-1">
                    [vcb_cashback_plus_american_express_no]
                </div>
                <div class="col-sm-2">
                    [vcb_cashback_plus_american_express_nomal]
                </div>
                <div class="col-sm-2">
                    [vcb_cashback_plus_american_express_fast]
                </div>
                <div class="col-sm-2">
                    [vcb_cashback_plus_american_express_auto]
                </div>
                <div class="col-sm-2">
                    [vcb_cashback_plus_american_express_money]
                </div>
            </div>

            <div style="clear: both;margin-bottom: 10px;"></div>

            <div class="row">
                <div class="col-sm-2">
                    Thẻ ghi nợ khác (ghi rõ)<br>
                    [text_vcb_ghinokhac]
                </div>
                <div class="col-sm-1">
                    [vcb_ghinokhac_yes]
                </div>
                <div class="col-sm-1">
                    [vcb_ghinokhac_no]
                </div>
                <div class="col-sm-2">
                    [vcb_ghinokhac_nomal]
                </div>
                <div class="col-sm-2">
                    [vcb_ghinokhac_fast]
                </div>
                <div class="col-sm-2">
                    [vcb_ghinokhac_auto]
                </div>
                <div class="col-sm-2">
                    [vcb_ghinokhac_money]
                </div>
            </div>

            <div style="clear: both;margin-bottom: 10px;"></div>

            <div class="row">
                <div class="col-sm-2">
                    [phat_hanh_the_phu] Phát hành thẻ phụ
                </div>
            </div>
        </div>

        <div style="clear: both;margin-bottom: 20px;"></div>

    </div>

    <div>

        <div style="clear: both;margin-bottom: 20px;"></div>

        <div id="p4">
            <div style="clear: both;margin-bottom: 10px;"></div>

            <div style="text-align: center;">
                <b>CAM KẾT CỦA KHÁCH HÀNG</b>
            </div>

            <div style="clear: both;margin-bottom: 10px;"></div>

            <div class="row">
                <div class="col-sm-12">
                    1.Tôi cam đaon mọi thông tin đưa ra tại đề nghị này để đầy đủ và trung thực. Tôi hiểu và đồng ý rằng
                    Vietcombank
                    có thể
                    yêu cầu thêm thông tin để xác thức các thông tin mà tôi xác nhận ở trên, thay mặt tôi cung cấp thông
                    tin cho
                    các
                    cơ quan
                    nhà nước có thẩm quyền theo quy định của pháp luật. Đề nghị Vietcombank mở tài khoản và cung cấp các
                    dịch vụ
                    mà
                    tôi đã
                    đăng ký ở trên.<br>
                    2.Bằng việc đồng ý sử dụng các dịch vụ Ngân hàng nêu trên, Tôi xác nhận đã được Vietcombank cung cấp
                    đầy đủ
                    thông
                    tin về
                    thỏa thuận/hợp đồng/giấy đề nghị theo mẫu, điều kiện giao dịch chung và các dịchj vụ tại giấy đề
                    nghị này; đã
                    đọc,
                    hiểu
                    rõ, đồng ý và cam kết thực hiện các Điều khoản, điều kiện chung dưới đây và đồng ý rằng khi đại diện
                    hợp pháp
                    của
                    Vietcombank ký vào Phần dành cho Ngân hàng tại văn bản này thì văn bản này và các Điều khoản, điều
                    kiện chung
                    dưới
                    đây
                    được coi là Hợp đồng và có giá trị ràng buộc các bên:<br>
                </div>
            </div>

            <div style="clear: both;margin-bottom: 10px;"></div>

            <div class="row">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-7">
                </div>
                <div class="col-sm-2">
                    Đồng ý
                </div>
                <div class="col-sm-2">
                    Không đồng ý
                </div>
            </div>

            <div style="clear: both;margin-bottom: 10px;"></div>

            <div class="row">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-7">
                    Điều khoản và Điều kiện về mở và sử dụng tài khoản tiền gửi tại Vietcombank đối với khách hàng cá
                    nhân
                </div>
                <div class="col-sm-2">
                    [cam_ket_cua_kh_1_yes]
                </div>
                <div class="col-sm-2">
                    [cam_ket_cua_kh_1_no]
                </div>
            </div>

            <div style="clear: both;margin-bottom: 10px;"></div>

            <div class="row">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-7">
                    Điều khoản và Điều kiện sử dụng dịch vụ ngân hàng điện tử dành cho khách hàng cá nhân
                </div>
                <div class="col-sm-2">
                    [cam_ket_cua_kh_2_yes]
                </div>
                <div class="col-sm-2">
                    [cam_ket_cua_kh_2_no]
                </div>
            </div>

            <div style="clear: both;margin-bottom: 10px;"></div>

            <div class="row">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-7">
                    Điều khoản và Điều kiện phát hành và sử dụng Thẻ ghi nợ Vietcombank (áp dụng cho khách hàng cá nhân)
                </div>
                <div class="col-sm-2">
                    [cam_ket_cua_kh_3_yes]
                </div>
                <div class="col-sm-2">
                    [cam_ket_cua_kh_3_no]
                </div>
            </div>

            <div style="clear: both;margin-bottom: 10px;"></div>

            <div class="row">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-7">
                    Điều khoản và Điều kiện phát hành và sử dụng Phương thức xác thực của khách hàng cá nhân
                </div>
                <div class="col-sm-2">
                    [cam_ket_cua_kh_4_yes]
                </div>
                <div class="col-sm-2">
                    [cam_ket_cua_kh_4_no]
                </div>
            </div>
        </div>

        <div id="p5">
            <div style="clear: both;margin-bottom: 10px;"></div>
        
            <div style="text-align: center;">
                <b>ĐĂNG KÝ CHỮ KÝ MẪU</b>
            </div>
        
            <div style="clear: both;margin-bottom: 10px;"></div>
            
            <div class="row">
                <div class="col-sm-6">
                    <div style="background-color: #D9D9D9;">
                        Chữ ký mẫu lần thứ nhất<br> 
                        [chu_ky_mau_1]                        
                    </div>                    
                </div>
                <div class="col-sm-6">
                    <div style="background-color: #D9D9D9;">
                        Chữ ký mẫu lần thứ hai<br>
                        [chu_ky_mau_2]                        
                    </div>                    
                </div>
            </div>

        <div style="clear: both;margin-bottom: 20px;"></div>

    </div>
</div>