.webcam-image img {
    width: 350px;
}
.webcam-image-cccd img {
  width: 450px;
  height: auto;
  margin-top: 20px;
  border-radius: 5px;
}
.cus-webcam {
    display: inline-block;
    position: relative;
    line-height: 20px;
}

.cus-pagination {
    margin-right: 30px;
}

.page-item {
    margin: 0px 5px 5px 5px;
}

.page-link {
    background-color: #F3F3F3;
    border-radius: 30%;
    padding: 0.25rem 0.5rem;
    color: #000000;
}

.page-link:hover {
    background-color: #3F2763;
    color: #ffffff;
}

.page-link.active {
    background-color: #3F2763;
    color: #ffffff;
}
.fileSelect{
  margin-top: 16px;
  text-align:center;
  height: 40px;
/*  padding:2%;*/
  border:1px solid #ced4da;
  border-radius: 0.25rem;
}
.bSelect{
  font-size: 1rem;
}

.my-actions { margin: 0 2em; }
.order-1 { order: 1; }
.order-2 { order: 2; }
