.bg-text-sigin{
  color: white;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(200px);
  border-radius: 30px;
  font-family: font-Roboto;
  text-align: center;
  margin-top: 50px;
  padding-bottom: 15px;
  padding-top: 15px;
  background-color: rgb(23 22 22 / 12%);
}

.cb {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

/* Hide the browser's default checkbox */
.cb input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 4px;
  left: 10px;
  height: 14px;
  width: 14px;
  background-color: #eee;

  border-radius: 15px;
}

/* On mouse-over, add a grey background color */
.cb:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.cb input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.cb input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.cb .checkmark:after {
  left: 5px;
  top: 2px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.input-group-text {
  background-color: #fff;
  border-radius: 40rem;
}
input:focus {
  border-color: white;
  outline: unset;
}

.input-group.form-control{
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
}
[type="text"]:focus, .form-control:focus {
  outline: unset;
  border: 1px solid #ced4da;
  box-shadow: none;
}
.mess{
  text-align: left;
  margin-left: 15px;
  color: #f30c0c;
}
.login.col,input[type="text"]::placeholder {
  text-align: center;
}
.login.col,input[type="password"]::placeholder {
  text-align: center;
}

.error{



  font-family: 'Roboto';
  text-align: center;
  margin-top: 50px;
  padding-bottom: 15px;
  padding-top: 15px;
 // background-color: rgb(23 22 22 / 12%);
}
button{
  font-family: 'Roboto';
}
label{
  font-family: 'Roboto';
}
input{
  font-family: 'Roboto';
}
p{
  font-family: 'Roboto';
}

